.aboutSec{
    min-height: 100vh;
}
.imgOver{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    height: 70%;
    transform: translateX(-50%);
    background: linear-gradient(#03BAFC, #03bafcb0);
}


.about-title {
    font-weight: bold;
    color: #F594C1;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
    position: relative;
    z-index: 5;
    text-align: center;
}

.about-title::after {
    content: 'ABOUT US';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 0.5px black;
    color: #00BFFF;
    transform: translate(-7px, 7px);
    z-index: -1;
    text-align: center;
    width: 100%;
}

.about-title::before {
    content: 'ABOUT US';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 0.4px black;
    color: #F4EC7F;
    transform: translate(-14px, 14px);
    z-index: -2;
    text-align: center;
    width: 100%;
}