.Mar-text{
    font-weight: bold;
    color: #F594C1;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
    position: relative;
    z-index: 5;
    text-align: center;
}

.Mar-text::after {
    content: 'FOFAR';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 0.5px black;
    color: #00BFFF;
    transform: translate(-3px, 3px);
    z-index: -1;
    text-align: center;
    width: 100%;
}

.Mar-text::before {
    content: 'FOFAR';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 0.4px black;
    color: #F4EC7F;
    transform: translate(-6px, 6px);
    z-index: -2;
    text-align: center;
    width: 100%;
}